.page-footer{
   background-color: #201731 ;
}
.social-footer{
    background-color: #2b0842 ;
    
}
.mt-3{
    display: flex;
    justify-content: center;
    
}

.text-md-right>a{
    padding: 0 25px;
}
.footer-info-row{
    justify-content: center;
    text-align: center;
    margin: 50px !important;
}
.your-account>a{
    font-size: .9rem;
    text-transform: unset;
    text-decoration: underline;
}
